{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Взыскания :: Отдел кадров</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'hr/style.css' %}"/>
</head>
<body>
    <div class="nav">
        <a href="{% url 'hr:index' %}">Главная</a>
    </div>
    <h1>Взыскания сотрудников</h1>
    <table>
        <thead>
            <tr>
                <th>ФИО сотрудника</th>
                <th>Дата взыскания</th>
                <th>Вид взыскания</th>
            </tr>
        </thead>
        <tbody>
            {% for p in penalties %}
            <tr>
                <td>{{ p.employee.full_name }}</td>
                <td>{{ p.penalty_date }}</td>
                <td>{{ p.penalty_type }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
