{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Должности :: Отдел кадров</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'hr/style.css' %}"/>
</head>
<body>
    <div class="nav">
        <a href="{% url 'hr:index' %}">Главная</a>
    </div>
    <h1>Справочник должностей</h1>
    <table>
        <thead>
            <tr>
                <th>Код должности</th>
                <th>Наименование должности</th>
                <th>Должностной оклад</th>
            </tr>
        </thead>
        <tbody>
            {% for pos in positions %}
            <tr>
                <td>{{ pos.position_code }}</td>
                <td>{{ pos.position_name }}</td>
                <td>{{ pos.salary }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
