{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Поощрения :: Отдел кадров</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'hr/style.css' %}"/>
</head>
<body>
    <div class="nav">
        <a href="{% url 'hr:index' %}">Главная</a>
    </div>
    <h1>Поощрения сотрудников</h1>
    <table>
        <thead>
            <tr>
                <th>ФИО сотрудника</th>
                <th>Дата поощрения</th>
                <th>Вид поощрения</th>
            </tr>
        </thead>
        <tbody>
            {% for r in rewards %}
            <tr>
                <td>{{ r.employee.full_name }}</td>
                <td>{{ r.reward_date }}</td>
                <td>{{ r.reward_type }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
